
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build
bin/
build/
dist/

# Node
node_modules/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp

# Chain data
data/
config/priv_validator_key.json
config/node_key.json
