# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build
bin/
build/
dist/

# Node
node_modules/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp

# Chain runtime
config/priv_validator_state.json
config/priv_validator_key.json
config/node_key.json
data/
*.pem
*.key

# Python venvs
.env
.venv
__pycache__/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Ansible
*.retry
